.itinerario {
    .banner {
        height: calc(80vh - 120px);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
  position: relative;
        &::after{
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
            position: absolute;
            top: 0;left: 0;
            
        }

        .container {
            position: relative;
            height: 100%;
             z-index: 2;
        }

        .text {
            position: absolute;
            bottom: 50px;
            max-width: 540px;
            width: 100%;

            .data {
                display: flex;
                gap: 10px;

                .item {
                    display: flex;
                    min-width: 90px;
                    align-items: center;
                    padding: 15px 5px;
                    justify-content: center;
                    flex-direction: column;
                    background: #FFFFFF4D;
                    height: 72px;
                    border-radius: 12px;
                    font-weight: 700;
                    font-size: 14px;
                    text-align: center;
                    color: #FFFBFB;

                    p {
                        font-weight: 700;
                        font-size: 14px;
                        text-align: center;
                        color: #FFFBFB;
                        display: block;
                    }

                }
            }

            h2 {
                font-weight: 300;
                font-size: 20px;
                color: #FFF;

            }

            h1 {
                font-weight: 900;
                font-size: 40px;

                color: #FFF;
            }

            p {
                font-weight: 400;
                color: #FFF;

                font-style: italic;
                font-size: 16px;
                line-height: 20px;

            }

        }
    }

    .grid-atractivos {
        padding: 120px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        max-width: 1200px;

        li {
            a {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                border-radius: 10px;
                color: #FFF;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);



                .title {
                    padding: 15px;
                    font-weight: 800;
                    font-size: 16px;
                    letter-spacing: 0%;

                    color: #000;

                }

                small {
                    position: relative;
                    z-index: 2;
                    font-weight: 300;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    vertical-align: middle;

                }

                &:hover {
                    opacity: 0.8;
                }
            }

        }
    }

    .blog {
        margin-bottom: 50px;
    }

    .rutas {
        background-color: #314059;

        .container {

            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1000px;
        }

        h3 {
            font-weight: 800;
            font-size: 32px;
            text-align: right;
            color: #FFF;

        }

        ul {
            padding: 120px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
            width: 50%;
            max-width: 1200px;

            .title {
                padding: 15px;
                font-weight: 800;
                font-size: 16px;
                letter-spacing: 0%;

                color: #000;

            }
        }
    }
    .eventos {
    
    padding: 30px 0 75px;
    background: linear-gradient(180deg, #254681 0%, #1F1F1F 100%);

}
}