    <main >
<div class="planifica-container" style="min-height:50vh; padding-top: 150px;" data-aos="fade-right">
          {% include "@visit_theme/includes/planifica.html.twig" %}
        </div>

 </main>