  <div class="article">
    <div class="banner" style="background-image: url({{file_url(node.field_cover.entity.fileuri)}});">
        <h1>{{ node.getTitle() }}</h1>
    </div>
      <div class="content">
          {{ content.body }}
      </div>
  </div>