{% set is_mice = node.fields.field_evento_mice.value == '1' %}
{# Header custom #}
{% set visit_types = [
  'atractivos',
  'home_visit_2_0',
  'hoteles',
  'establecimientos',
  'rutas',
  'eventos',
  'page',
  'article',
  'pagina_agenda_de_eventos'
] %}

{# Header custom #}
{% if is_mice %}
  {% include "@visit_theme/includes/header_conecta.html.twig" %}
{% else %}
 {% if node is defined and node.bundle in visit_types %}
  {% include "@visit_theme/includes/header_visit.html.twig" %}
{% else %}
  {% include "@visit_theme/includes/header_conecta.html.twig" %}
{% endif %}
{% endif %}


<main id="main-content" class="site-content">
  {{ page.content }}
</main>

{# Footer custom #}
{% if node is defined and node.bundle in visit_types %}
  {% include "@visit_theme/includes/footer_visit.html.twig" %}
{% else %}
  {% include "@visit_theme/includes/footer_conecta.html.twig" %}
{% endif %}