{% include "@visit_theme/includes/header_visit.html.twig" %}
<style>
.feed-icon{
    display: none;
}
</style>
<main id="main-content" class="site-content">
    {{ page.content }}
</main>
  {% include "@visit_theme/includes/footer_visit.html.twig" %}