<style>
.item-list {
    max-width:1200px;
    margin:0 auto;
    width:100%;
    padding: 20px;
    min-height: 800px;
}
.item-list ul{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    flex-wrap: wrap;
    gap: 20px;
}
@media screen and (max-width: 768px) {
    .item-list ul{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}
.views-field.views-field-field-image{
    width: 100%;
    border-radius: 8px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}
.views-field.views-field-field-image:hover img{
    transform: scale(1.05);
    transition: transform 0.3s ease;
    
}
.item-list ul li img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
}
</style>
  {% include "@visit_theme/includes/header_conecta.html.twig" %}
<main id="main-content" class="site-content">
    {{ page.content }}
</main>
    {% include "@visit_theme/includes/footer_conecta.html.twig" %}